@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  overflow-x: hidden;
  background-color: #0a0e1a;
  color: white;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0d111c;
}

::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 6px;
  border: 2px solid #0d111c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}